{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mahmoud Emad | Portfolio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
    
    <link id="theme-mode" rel="stylesheet" href="">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/icon.ico ' %}"/>

</head>
<!-- 
     ~~~~
    (^__^)       > ( " HELLO ^_^ " )
      /\
   /~~\/~~\
      ||
     _||_


     #You are welcom inside and outside ^_-

 -->
<body>
    {% block body %}
      
    {% endblock body %}


    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>