{% extends "base.html" %}
{% load static %}
<title>Job Board - Target.com</title>
{% block body %}
<div class="nav-wrapper">

	<!-- Link around dots-wrapper added after tutorial video -->
	<a href="/">
		<div class="dots-wrapper">
			<div id="dot-1" class="browser-dot"></div>
			<div id="dot-2" class="browser-dot"></div>
			<div id="dot-3" class="browser-dot"></div>
		</div>
	</a>

	<ul id="navigation">
		<li><a href="/#contact">Contact</a></li>

	</ul>
</div>

<div class="main-container">
	<br>

	<div class="img-container">
		<img src="{% static 'images/1.png' %}">
	</div>
	
	<a href="" target="_blank"><h3>Job Board - Target.com</h3></a>

	<p>Online Job Board with fillter all of jobs by name or keywords and guest user authantcated 
	<br>
	<br>
	This was my second project using Django It was a motivational course, I followed it from scratch to the end point Programming
	<br>
	<br>
	Here you can search for the right job for you that suits your specific needs Here you can also view the job your company needs You can also log in, search for jobs, and search for jobs by name or letters Target.com #Reach Your Target </p>
	<br>
	<br>


	<h5>Programming languages:</h5>
	<ul>
		<li>- Python</li>
		<li>- Django</li>
	</ul>
	<h5>Design languages:</h5>
	<ul>
		<li>- Html</li>
		<li>- Css</li>
		<li>- Bootstrap</li>
	</ul>
	<h5>List Jobs</h5>
	<div class="img-container">
		<img src="{% static 'images/job/3.png' %}">
	</div>
	<br>
	<h5>Job Details</h5>
	<div class="img-container">
		<img src="{% static 'images/job/5.png' %}">
	</div>
	<br>
	<h5>Apply On</h5>
	<div class="img-container">
		<img src="{% static 'images/job/6.png' %}">
	</div>
	<br>
	<h5>Post Job</h5>
	<div class="img-container">
		<img src="{% static 'images/job/7.png' %}">
	</div>
	<br>
	<h5>Category Section </h5>
	<div class="img-container">
		<img src="{% static 'images/job/2.png' %}">
	</div>
	<br>
	<h5>Contact </h5>
	<div class="img-container">
		<img src="{% static 'images/job/8.png' %}">
	</div>
	<br>
	<h5>Profile User </h5>
	<div class="img-container">
		<img src="{% static 'images/job/9.png' %}">
	</div>

	<br>


</div>
{% endblock body %}